.barLabel {
  fill: #3b3b3b;
  text-anchor: middle;
  font-weight: normal;
  dominant-baseline: central;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.barLabelTopProject {
  font-weight: bold;
}

.barLabelOutside {
  fill: #555;
  text-anchor: start;
  dominant-baseline: central;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
